@font-face {
  font-family: CercoDEMO-Medium;
  src: url(/fuentes/CercoDEMO-Medium.otf);
}

@font-face {
  font-family: CercoDEMO-Regular;
  src: url(/fuentes/CercoDEMO-Regular.otf);
}

@font-face {
  font-family: CercoDEMO-Light;
  src: url(/fuentes/CercoDEMO-Light.otf);
}

  
.text{
  font-weight: bold;
  font-family: CercoDEMO-Regular;
}

.img.m-1{
  justify-content: center;
}

.img-logo{
  height: 6rem;
  width: 100px;
}


.tituloStyle{
  margin-left: 10px;
  color: #7a6d49;
  font-size: 1.3rem;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited{
  color: #7a6d49;
}


.navbar-toggler{
  border-color: #0A6BA4 !important;
}


.button-style{
  font-size: 1.3rem;
  color: #7a6d49;
  margin-right: 2rem;
}

.button-style:hover{
  background-color: #777676;
  color: white !important;
  border-radius: 1.1rem;
}

.navbar-nav li{
  padding-left: 18px;
  padding-right: 18px;
}

.container_flex2{
  background-color: rgb(243, 241, 212);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.box7{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font: 20px;
}

.box8{
  color: rgb(44, 44, 44);
  font-family: CercoDEMO-Regular;
  text-align: center;
  font-size: 12px;
}

.padre{
  background-color: rgb(45, 46, 46);
  font-family: CercoDEMO-Regular;
  font-size: 8pt;
  color: white;
  text-align: center;
  width: 100%;
}

.img-logo-footer{
  position: relative;
  left: 100px;
  height: 6rem;
  width: 100px;
}
.nosotrosInfo{
  background-color: #c4bfb1;
  height: 65vh;
  width: 100%;
}
.containerImgBeige{
  display: flex;
  justify-content: flex-end;
}
.imgBeige{
  height: 65vh;
  width: 40vw;
}